<!DOCTYPE html>
<html lang=en>
<%- include('partials/header.ejs', {stylesheets: ['register'], scripts: [{name: 'register', defer: false}], page_name: "Dashboard"}) %>

<body>
    <%- include('partials/navbar.ejs', {logged_in}) %> 

    <main>
        <a href="/admin/adduser"> Add a new user </a>
        <a href="/admin/account_requests"> View registrations </a>
        <a href="/admin/addpart"> Upload new part information </a>
    </main>


    <%- include('partials/footer.ejs') %>
</body>

</html>