<!DOCTYPE html>
<html lang="en">

    <%- include('partials/header.ejs', {
        stylesheets: ['contact', "form_elements"], 
        scripts: [], 
        page_name: "Contact Us"}) %>

<body>
    <%- include('partials/navbar.ejs', {logged_in}) %> 
    <!-- HOME PAGE -->
    <main>
        <div class="section_title">
            <h1>Contact Us</h1>
	    <p>(647) - 727 - 8987 | orders@acewayautoparts.com | 6415 Northwest Drive, Unit 25-30, Mississauga L4V 1X1</p>
	    <h3>Office Hours</h3>
            <div class="contact_hours">
                <div><p>Mon-Fri:</p></div> <div><p>9:30am - 6:00pm</p></div>
                <div><p>Sat:</p></div> <div><p>10:00am - 4:00pm</p></div>
                <div><p>Sun:</p></div> <div><p>Closed</p></div>
            </div>
        </div>
        <div class="double">
            <div class="left">
                <form action="mailto:order@acewayautoparts.com">
                    <div class="input">
                        <input type="text" name="name" placeholder=" " required>
                        <label for="name"><span>Company Name*</span></label>
                    </div>
                    <div class="input">
                        <input type="phone" name="phone" placeholder=" " required>
                        <label for="email"><span>Contact Name*</span></label>
                    </div>
                    <div class="input">
                        <input type="phone" name="phone" placeholder=" " required>
                        <label for="email"><span>Contact Phone*</span></label>
                    </div>
                    <div class="input">
                        <input type="phone" name="phone" placeholder=" " required>
                        <label for="email"><span>Contact Email*</span></label>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" placeholder="How can we help you?"></textarea>
                    <button>Send Email</button>
                </form>
            </div>
            <div class="map">
            	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.377062368972!2d-79.6205969!3d43.70271249999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3bd91de253e7%3A0x76a34c1bb792bc43!2s6415%20Northwest%20Dr%2C%20Mississauga%2C%20ON%20L4V%201X1!5e0!3m2!1sen!2sca!4v1657041528034!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	    </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>
