<!DOCTYPE html>
<html lang="en">

    <%- include('partials/header.ejs', {
        stylesheets: ['searchBox', 'index'], 
        scripts: [{name: 'searchBox', defer: true}, {name: 'index', defer: true}], 
        page_name: "Aceway Auto Parts"}) %>

<body>
    <%- include('partials/navbar.ejs', {logged_in}) %> 

    <main>
        <div class="hero">
            <div class="row">
                <div class="text">
                    <h1>ACEWAY Canada Inc</h1>
                    <h3>High-Quality OE-Spec Auto Parts Warehouse Distributor</h3>
                </div>
            </div>
            <!--Photo by Daen van Beers on Unsplash-->
            <!-- <div class="logo"></div> -->
            <div class="search_wrapper">
                <h1>Search Products</h1>
                <div class="grid">
                    <div class="euro_custom_select custom_select">
                        <select name="" id="" class="search_select">
                        </select>
                        <input type="hidden" name="">
                    </div>
                    <div class="euro_custom_select custom_select">
                        <select name="" id="" class="search_select">
                        </select>
                        <input type="hidden" name="">
                    </div>
                    <div class="euro_custom_select custom_select">
                        <select name="" id="" class="search_select">
                        </select>
                        <input type="hidden" name="">
                    </div>
                    <div class="euro_custom_select custom_select">
                        <select name="" id="" class="search_select">
                        </select>
                        <input type="hidden" name="">
                    </div>
                    <div class="options_container part_options">
                    </div>
                </div>
                
                <form class="oe_form" action="">
                    <div class="smaller_search_bar">
                        <input type="text" placeholder="Search by OE, Frey, ACI or Competitor's number" id="search_oe">
                        <button class="search_button" id="oe_search_btn">
                            <svg width="15" height="15" viewBox="0 0 35 35" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="12.5" stroke="white" stroke-width="3" />
                                <line x1="22.0607" y1="21.9393" x2="34.0607" y2="33.9393" stroke="white"
                                    stroke-width="3" />
                            </svg>
                        </button>
                    </div>
                </form>
                <h1>Search Specific Parts</h1>
                <div class="grid_2">
                    <div class="specific_custom_select custom_select">
                        <select name="" id="" class="search_select">
                        </select>
                        <input type="hidden" name="">
                    </div>
                    <div class="options_container specific_options">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>