<!DOCTYPE html>
<html lang=en>
<%- include('partials/header.ejs', {stylesheets: [], scripts: [], page_name: page_name}) %>

<body>
    <main>
        <div class="section_title">
            <h1> <%= message %> </h1>
        </div>
    </main>


    <%- include('partials/footer.ejs') %>
</body>

</html>