<!DOCTYPE html>
<html lang=en>
<%- include('partials/header.ejs', {stylesheets: [], scripts: [], page_name: page_name}) %>

<body>
    <% let logged = false; if(typeof logged_in != 'undefined'){logged=logged_in} %>
    <%- include('partials/navbar.ejs', {logged_in: logged}) %> 

    <main>
        <div class="section_title">
            <h1> <%= message %> </h1>
        </div>
    </main>


    <%- include('partials/footer.ejs') %>
</body>

</html>