<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs', { stylesheets: ['login', "form_elements" ], scripts: [{name: 'login' , defer:
        false}], page_name: "Change Password" }) %>

<body>
    <%- include('partials/navbar.ejs', {"logged_in": logged_in})%>
        <main>
            <div class="form_background">
                <h1>Change Password</h1>
                <% if(typeof errors!='undefined' ) { %>
                    <% errors.forEach(function(error){ %>
                        <p class='error_message'>
                            <%= error.msg %>
                        </p>
                    <% }) %>
                <% } %>

                <form onsubmit="form_submit()" action="/reset" id="regform" method="POST">
                    <input type="hidden" name="token" value="<%=token%>">
                    <div class="input">
                        <input type="password" name="pass">
                        <label for="pass"><span>New Password</span></label>
                    </div>
                    <div class="input">
                        <input type="password" name="passconfirm">
                        <label for="passconfirm"><span>Confirm Password</span></label>
                    </div>
                    <button type="submit"> Change Password </button>
                </form>
            </div>
        </main>
        <!-- <footer>
            <div class="left">
                <h3>ACEWAY Canada Inc</h3>
                <div>
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Contact</a>
                    <a href="">Search</a>
                </div>
            </div>
            <div class="right">
                <h3>Contact Us</h3>
                <p>(905) - 330 - 5218</p>
                <p>acewayauto@gmail.com</p>
                <p>2505 Dunwin Dr, Mississauga, ON L5L 1T1</p>
            </div>
        </footer> -->
</body>

</html>