<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/test.css">
    </head>
<body>
    <%-include("partials/navbar.ejs", {logged_in: false}) %>
    <main>
        <div>
        </div>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>