<!DOCTYPE html>
<html lang=en>
<%- include('../partials/header.ejs', {stylesheets: ['register'], scripts: [{name: 'import_excel', defer: true}], page_name: "Add Parts"}) %>

<body>
    <%- include('../partials/navbar.ejs', {logged_in}) %> 

    <main>
        <input type="file" name="" id="">
        <img src="/img/loader.gif" alt="" id="loader">
        <p class="error_message"></p>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>