
input,
p {
    font-size: 18px;
}

//make images non-selectable


body {
    width: 100%;
    // background-color: #cccccc;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

main {
    div.section_title{
        font-size: 35px;
        margin-top: 10vh;
    }

    div.about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .content.visible{
            transform: translate(0,0);
            transition: transform 2s, opacity 2s;
            opacity: 1;
        }
        
        .content {
            width: 90%;
            max-width: 1200px;
            display: grid;

            opacity: 0;
            transform: translate(0,-10vh);

            grid-template-columns: 1fr 1fr;
            row-gap: 150px;

            justify-items: center;
            align-items: center;

            div {
                h2 {
                    margin: 10px 0;
                }
            }

            div.image-left {
                background-color: wheat;

                img {
                    // width: 100%;
                    // height: 100%;
                    max-width: 300px;
                    object-fit: contain;
                }
            }

            div.image-right {
                img {
                    // width: 100%;
                    // height: 100%;
                    max-width: 300px;
                    object-fit: contain;
                }
            }

            img {
                width: 100%;
                height: 100%;
                max-width: 300px;
                object-fit: contain;
            }

            div.color {
                // background-color: wheat;
                width: 100%;
                height: 100%;
            }

            div.text2 {
                width: fit-content;
                height: fit-content;
                // background-color: wheat;

            }
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    div.double{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        div.left{
            // display: flex;
            input{
                width: 100%;
            }
            textarea{
                width: 100%;
            }
        }
        div.right{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
    }
    div.map{
        width: 80%;
        height: 700px;
        background-color: gray;
    }
}

main{
    
}