// body {
//     width: 100%;
//     // background-color: #cccccc;
//     // display: flex;
//     // flex-direction: column;
//     // align-items: center;
// }

// main {
//     div.section_title {
//         font-size: 35px;
//         margin-top: 10vh;
//     }

//     div.grid {
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         width: 80%;


//         // div{
//         //     grid-column: 1/-1;
//         // }
//     }
// }


input,
p {
    font-size: 18px;
}

//make images non-selectable


body {
    width: 100%;
    // background-color: #cccccc;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;;

    .section_title {
        font-size: 35px;
        margin-top: 10vh;
    }

    div.double {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;

        div.left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            align-self: center;
            justify-self: center;

            form {
                margin-bottom: 40px;

                // display: flex;

                button {
                    width: 100%;
                    padding: 16px 8px;
                }
            }

            div.right {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                
            }
        }
    }

    div.map {
        width: 100%;
        height: 700px;
        background-color: gray;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}