.input {
    position: relative;
    margin: 30px 0;

    input {
        width: 100%;
        height: 50px;
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(94, 94, 94);
        background-color: transparent;
        font-size: 18px;
        padding: 0;
    }


    label {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 50px;
        pointer-events: none; //need this so we can click through the label

        span {
            position: absolute;
            bottom: 10px;
            left: 0px;
            color: rgb(94, 94, 94);
            transition: all 0.2s ease;
        }
    }

    input:not(:placeholder-shown)+label span,
    input:focus+label span {
        bottom: 100%;
        font-size: 12px;
        color: black;
    }
}

textarea {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid #5e5e5e;
    padding: 8px;
    font-size: 18px;
}


div.rounded_input {
    position: relative;
    margin: 30px 0;
    // overflow: hidden;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 5px;
    // height: 35px;
    padding: 0 5px;

    input {
        width: 100%;
        height: 35px;
        outline: none;
        border: none;
        // border-bottom: 1px solid rgb(94, 94, 94);
        background-color: transparent;
        font-size: 18px;
        margin: 5px 0;
        // padding: 0 5px;
        // border-radius: 5px;
        -webkit-box-shadow: 0 0 0 50px #CCCCCC inset;

    }

    label {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; //need this so we can click through the label

        span {
            opacity: 0;
            font-size: 12px;
            position: absolute;
            bottom: 100%;
            left: 5px;
            color: rgb(94, 94, 94);
            transition: all 0.2s ease;
        }
    }

    input:not(:placeholder-shown)+label span {
        opacity: 1;
        transform: translate(0, 100%);
        // font-size: 12px;
        color: black;
    }

    input:not(:placeholder-shown) {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.labelled_input {
    input {
        width: 100%;
        height: 50px;
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(94, 94, 94);
        background-color: transparent;
        font-size: 18px;
        padding: 0;
    }
}