* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    div.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div.parts_grid {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(6, 1fr);
            text-align: center;

            p,
            img,
            div {
                align-self: center;
                justify-self: center;
            }

            div.stock_status {
                width: fit-content;
                height: fit-content;
            }

            div.seperator {
                margin: 50px 0;
                grid-column: 1/-1;
                width: 80%;
                height: 1px;
                background-color: black;
            }
        }
    }

}