//Hero image
@keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes moveFade{
    0%{
        transform: translate(0, -100%);
        opacity:0;
    }
    100%{
        transform: translate(0, -50%);
        opacity:1;
    }
}

main {
    position: relative;

    div.hero {
        width: 100%;
        height: 93vh;
        min-height: 700px;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero.jpg");

        color: white;
        position: relative;

        margin-bottom: 0vh;

        div.text {
            position: relative;
            top: 30%;
            left: 10%;
            transform: translate(0, -50%);
            max-width: 70vw;
            margin-bottom: 20px;
            color: #B3B3B3;
            // background-color: rgba(0, 0, 0, 0.5);
            animation: fadeIn 3s ease;
            h1 {

                font-size: 72px;
            }

            h3 {
                font-size: 24px;
            }
        }
    }
}