nav {
    // position:sticky;
    // left: 50%;
    // transform: translate(-50%, 0);
    overflow: hidden;

    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    min-height: 50px;
    // top: 0;
    width: 100%;
    // left: 50%;
    //margin-left: 50%;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
    // display: none;

    div.content {
        z-index: 999;
        background-color: #333333;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #ffffff;

            a.img {
                margin: 0;
                padding: 0;
            }
            a img {
                padding: 0;
                margin: 0;
                margin-right: 20px;
            }

            h1 {
                color: #ffffff;
                font-weight: 400;
                font-size: 2em;
                margin-right: 20px;
            }

            a {
                background-color: #333333;
                color: #ffffff;
                text-decoration: none;
                margin: 0 10px;
            }
        }
    }
    div.mobile_hamburger {
        display: none;
    }
    div.mobile_content {
        display: none;
    }
}

@media (max-width: 1100px) {
    nav {
        div.content {
            display: none;
        }
        div.mobile_hamburger {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            color: white;
        }
        div.mobile_content {
            z-index: 999;
            display: none;
            // display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            div.left {
                width: 50%;
                display: flex;
                flex-direction: column;
                padding: 100px 50px;
                background-color: #333333;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    margin: 10px 10px;
                    font-size: 24px;
                }
            }
        }
    }
}
