main {

    div.search_wrapper {
        // transform: translate(-50%, -30%);
        // margin-top: 20px;
        
        border-radius: 10px;
        background-color: #8A838D;
        width: 100%;
        max-width: 1000px;
        height: fit-content;
        background-color: #796D74;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding: 30px;
        z-index: 50;

        h1 {
            margin-bottom: 30px;
        }

        div.grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;

            column-gap: 10px;

            div.custom_select {

                border-radius: 10px;
                border: 2px solid white;

                * {
                    user-select: none;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    -o-user-select: none;
                }

                select {
                    // width: 100%;
                    // height: 50px;
                    // border-radius: 10px;
                    display: none;
                }

                div.selector {
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;

                    // background-color: blue;
                }

                div.selector.selected,
                div.selector:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                    // color: black;
                }

                div.selector.disabled {
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }

            div.options_container {
                margin-top: 10px;
                border-radius: 5px;
                grid-column: 1/-1;
                position: relative;


                div.options {
                    position: absolute;
                    top: 100%;

                    width: 100%;
                    height: fit-content;
                    max-height: 0px;
                    overflow: hidden;
                    color: dodgerblue;
                    background-color: white;
                    opacity: 0;

                    div {
                        color: dodgerblue;
                        padding: 5px;
                        cursor: pointer;
                    }

                    div:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }

                div.options.active {
                    border-radius: 5px;
                    max-height: 30vh;
                    background-color: white;
                    overflow: auto;
                    border: 2px solid black;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    opacity: 1;
                    transition: max-height .3s ease-out;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    main {
        div.search_wrapper {
            div.grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 500px) {
    main {
        div.search_wrapper {
            height: fit-content;

            div.grid {
                grid-template-columns: 1fr;
            }
        }
    }
}