//reset the position of the search bar and add a background
main {
    div.search_wrapper {
        position: initial;
        transform: none;
        margin: 0;

        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero.jpg");
        background-size: cover;
        background-position: center;

        width: 100%;
        max-width: none;
        border-radius: 0;

        h1{
            color: white;
        }

        div.custom_select {
            background-color: gray;
        }
    }
}

//smaller search button
main {
    div.search_wrapper {

        form {
            width: 100%;
            max-width: 875px;
            div.smaller_search_bar {
                margin-top: 20px;
                display: flex;
                flex-direction: row;

                border-radius: 10px;
                overflow: hidden;


                input {
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 50px;

                    padding: 0 10px;
                }

                button {
                    background-color: #333333;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    outline: none;
                    width: 70px;
                    height: 50px;
                }
            }
        }
    }
}

//feedback div
main {
    div.feedback {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;

        h1 {
            font-size: 48px;
            color: #aaaaaa;
        }

        h1.error {
            color: #fc6060;
        }
    }
}

//style the display table
main {
    table.parts_table {
        text-align: left;
        width: 90%;
        max-width: 1300px;

        // table-layout: fixed;
        border-collapse: collapse;

        display: none;


        thead {
            tr {
                th {
                    padding: 5px 0;
                }

                th.image_col {
                    width: 65px;
                }

                // th.app_col{
                //     width: 100px;
                // }
            }
        }

        tbody {

            // font-size: 12px;

            tr.part {
                border-top: 1px solid black;

                td {
                    position: relative;

                    input[type="checkbox"] {
                        margin-left: 10px;
                    }

                    table.application_popup {
                        position: absolute;
                        background-color: #cccccc;
                        top: 90%;
                        left: 0;
                        z-index: 10;
                        box-shadow: 3px 4px #333333;
                        border: 1px solid black;

                        border-collapse: collapse;

                        width: 400px;

                        thead {
                            tr {
                                td.model_col {
                                    font-weight: 700;
                                    max-width: 70%;
                                }

                                td.year_col {
                                    font-weight: 700;
                                    max-width: 30%;
                                }
                            }
                        }

                        tbody tr td {
                            padding: 0px 3px;
                        }
                    }

                    


                    // td.type {
                    //     div {
                    //         text-align: left;
                    //         display: flex;
                    //         flex-direction: row;
                    //         align-items: center;

                    //         img {
                    //             height: 50px;
                    //             width: 65px;
                    //             object-fit: contain;
                    //             background-color: white;
                    //         }

                    //         h3 {
                    //             margin: 0 5px;
                    //         }
                    //     }
                    // }

                    button {
                        padding: 8px 16px;
                    }
                }

                td.img{
                    img {
                        height: 50px;
                        width: 65px;
                        object-fit: contain;
                        background-color: white;
                    }
                    img.big_img{
                        position: absolute;
                        top: 0;
                        left: 110%;
                        height: fit-content;
                        width: fit-content;
                        z-index: 10;
                    }
                }

                td.add_cart {
                    text-align: right;

                    div {
                        width: 30px;
                        display: inline-block;
                    }

                    input[type=number] {
                        width: 60px;
                        height: 35px;
                        padding: 0 5px;
                        -moz-appearance: textfield;

                    }

                    // input::-webkit-outer-spin-button,
                    // input::-webkit-inner-spin-button {
                    //     -webkit-appearance: none;
                    //     margin: 0;
                    // }

                    // input[type=number]::before{
                    //     content:"-";
                    // }
                    // input[type=number]:after{
                    //     content:"+";
                    // }
                }
            }

            tr:nth-child(even) {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

body {
    position: relative;
}

div.toast {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgb(129, 211, 129);
    z-index: 1000;
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

div.toast.show {
    opacity: 1;
    visibility: visible;
    top: 30px;
}

div.toast.error{
    background-color: rgb(253, 88, 88);
}

div.image_modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(4px);
    img{
        transform: scale(2);
    }
}