div.search_wrapper {
    margin-top: 50px;
    width: 100%;

    div.grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 80%;

        column-gap: 10px;

        div.custom_select {
            * {
                user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -o-user-select: none;
            }

            select {
                // width: 100%;
                // height: 50px;
                // border-radius: 10px;
                display: none;
            }

            div.selector {
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-radius: 10px;
                border: 2px solid white;
                // background-color: blue;
            }

            // div.options {
            //     display: none;
            //     height: 300px;
            //     overflow: auto;
            //     color: dodgerblue;

            //     div {
            //         color: dodgerblue;
            //         cursor: pointer;
            //     }

            //     div:hover {
            //         background-color: rgba(0, 0, 0, 0.1);
            //     }
            // }

            // div.options.active {
            //     display: block;
            // }
        }

        div.options_container {
            grid-column: 1/-1;
            position: relative;


            div.options {
                position: absolute;
                top: 100%;

                display: none;
                width: 100%;
                height: fit-content;
                max-height: 300px;
                overflow: auto;
                color: dodgerblue;
                background-color: white;

                div {
                    color: dodgerblue;
                    padding: 5px;
                    cursor: pointer;
                }

                div:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            div.options.active {

                display: grid;
                grid-template-columns: repeat(8, 1fr);
            }
        }
    }
}