main {
    div.cards {
        *{
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
        }
        // position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        height: 700px;
        width: 70%;
        overflow: hidden;
        margin-bottom: 30px;

        div.images {
            height: 100%;
            width: 100%;
            position:relative;
            grid-template: 
                'left main right'
                'hidden hidden hidden';

            div.img{
                height: 100%;
                width: 100%;
                background: url("../img/catalog1.png") no-repeat center;
                background-size: contain;
                //position: relative;
                // display: none;
                position:relative;
                max-height: 0px;
                max-width: 0px;
                grid-area: hidden;
                opacity: 0;
            }

            div.img.right{
                display: block;
                position: relative;
                max-width: 0;
                max-height: 0;
                grid-area: right;
                transition: opacity 1s, max-width 1s;
            }
            
            div.img.left{
                display: block;
                position: relative;
                grid-area: left;
                margin-left: 100%;
                max-width: 0;
                max-height: 0;
                transition: opacity 1s, max-width 1s;
            }

            div.img.active{
                opacity: 1;
                display: block;
                grid-area: main;
                position: relative;
                max-width: 1000px;
                max-height: 1000px;
                transform: translate(0,0);
                transition: opacity 1s;
            }

            // img {
            //     height: 100%;
            //     width: 100%;
            //     display: none;
            //     // object-fit: scale-down;
            // }

            // img.active {
            //     display: block;
            // }

            div.indicators {
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translate(-50%, 0);

                div.line {
                    display: inline-block;
                    width: 15px;
                    height: 4px;
                    background-color: gray;
                    margin: 0 2px;
                }

                div.line.active {
                    background-color: black;
                }
            }
        }

        div.left_arrow,
        div.right_arrow {
            flex-grow: 1;
            height: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        div.left_arrow{
            justify-content: flex-end;
        }
        div.right_arrow{
            justify-content: flex-start;
        }
    }
}