* {
    margin: 0;
    padding: 0;
    font-family: 'Domine', sans-serif;
    // font-size: 14px;
    box-sizing: border-box;
    font-weight: 400;
}

html {
    background-color: #CCCCCC;
    font-size: 18px;
}

body{
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main{
    flex: 1;
}
// automatically align things in the center
main {
    background-color: #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

//section titles
main {
    div.section_title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 50px 0;

        h1 {
            width: fit-content
        }
    }
}

footer {
    position: absolute;
    top: 100%;

    width: 100%;
    background-color: #1b1b1b;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // height: 12vh;
    // min-height: 100px;

    div {
        margin: 30px;
    }

    div.left {
        div {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    div.right {
        text-align: right;
    }
}

@media (max-width: 800px) {
    footer {
        flex-direction: column;
        height: fit-content;

        div.right {
            text-align: center;
        }
    }
}
