<footer>
    <div class="left">
        <h3>ACEWAY Canada Inc</h3>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/search">Search</a>
        </div>
    </div>
    <div class="right">
        <h3>Contact Us</h3>
        <p>(905) - 330 - 5218</p>
        <p>acewayauto@gmail.com</p>
        <p>2505 Dunwin Drive Unit 5, Mississauga, ON L5L 1T1</p>
    </div>
</footer>
