<footer>
    <div class="flex_container">
        <div class="left">
            <h3>ACEWAY Canada Inc</h3>
            <div>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/search">Search</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <div class="right">
            <h3>Contact Us</h3>
            <p>(647) - 727 - 8987</p>
            <p>orders@acewayautoparts.com</p>
            <p>6415 Northwest Drive, Unit 25-30, Mississauga L4V 1X1</p>
        </div>
    </div>
    <div class="center">
        &#169; Copyright 2021 Aceway Canada Inc
    </div>
</footer>
